<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Taskmanager</title>

    <link rel="stylesheet" href="/assets/css/style.css">

        <script>
        function goBack() {
            window.history.back();
        }
        </script>
</head>
<body>
        Naslov: {{vnos.naslov}}: <br>
        {{vnos.sporocilo}} <br>

        <br>
        <a href="/vnos/uredi/{{vnos.key.id()}}"> Uredi </a>
        <a href="/vnos/brisi/{{vnos.key.id()}}"> Brisi </a>
        {%  if not vnos.je_koncan %} <a href="/vnos/koncaj/{{vnos.key.id()}}"> Koncaj </a>
        {% else %}
        <a href="/vnos/aktiviraj/{{vnos.key.id()}}"> Ponovno aktiviraj </a>

        {% endif %}

        <br>
        <button onclick="goBack()">Pojdi nazaj</button>
</form>
</body>
</html>